.bannerContainer {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

.slide {
  position: relative;
  display: flex;
  height: 200px;
  align-items: center;
  justify-content: center;
}

.image {
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
  height: 100%;
}

.textOverlay {
  position: absolute;
  bottom: 50px;
  left: 50px;
  color: white;
  text-align: left;
  z-index: 10;
}

.title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.description {
  font-size: 1.2rem;
}

.nextArrow,
.prevArrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 10;
}

.nextArrow {
  right: 10px;
}

.prevArrow {
  left: 10px;
}

.nextArrow:hover,
.prevArrow:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

@media (max-width: 768px) {
  .nextArrow,
  .prevArrow {
    padding: 8px;
  }
}
