.brd-group-6 {
  position: relative;
  margin: 0 0 160px;
}
.brd-group-6 h3 {
  margin: 20px 0 60px;
}
.brd-indus-list {
  position: relative;
}
.brd-indus-list ul {
  margin: 0 -15px;
}
.brd-indus-list ul {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100%;
  text-align: center;
}

.brd-indus-list ul li {
  flex: 1 1 220px;
  padding: 0 15px;
  margin: 0 0 30px;
}

.brd-indus-list ul li a {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  padding: 30px 20px;
  background: #3e3e3e;
  overflow: hidden;
  border-radius: 20px;
  overflow: hidden;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  border: 1px solid transparent;
}

.brd-indus-list ul li a .idn-img-txt,
.genres-supp-item .idn-img-txt {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  overflow: hidden;
  background-color: #3e3e3e;
  font-size: 18px;
  line-height: 24px;
  z-index: -1;
  opacity: 0;
  visibility: hidden;
  padding: 20px;
  border-radius: 20px;
}

.brd-indus-list ul li a:hover .idn-img-txt,
.genres-supp-item:hover .idn-img-txt {
  opacity: 1;
  z-index: 2;
  visibility: visible;
}

.brd-indus-list ul li a.active {
  background-color: #fff;
}

.brd-indus-list ul li a.active img {
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

.brd-indus-list ul li a.active span {
  opacity: 1;
  z-index: 2;
  visibility: visible;
}

.brd-indus-list ul li img {
  max-width: 90px;
  height: auto;
  margin: 0 auto;
}
.brd-indus-list ul li * {
  -moz-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
@media screen and (max-width: 480px) {
  .brd-indus-list ul li {
    flex: none;
    float: left;
    width: 50%;
    padding: 0 10px;
  }
}
@media screen and (max-width: 1024px) {
  .brd-indus-list ul li {
    margin: 0 0 15px;
  }
}
