.lets_chat {
  padding: 20px 0;
}
.chat_title h2{
    text-align: center;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 30px;
    font-family: 'HelveticaNowDisplay';
}
.contact_form {
  border-radius: 18px;
  background: linear-gradient(
    93.35deg,
    rgba(255, 255, 255, 0.1) -0.24%,
    rgba(255, 255, 255, 0.05) 59.82%
  );
  backdrop-filter: blur(40px);
  padding: 20px;
}
.form_group label {
  display: block;
  color: #ffffff;
  font-size: 2rem;
  overflow: hidden;
  margin-bottom: 6px;
  text-transform: uppercase;
  font-family: 'HelveticaNowDisplay';
  font-weight: 500;
}
.form_group {
    width: 100%;
    margin-bottom: 20px;
}
.inputbox {
  position: relative;
  display: block;
  width: 100%;
  border-bottom: 1px solid #ffffff;
  padding: 10px 16px;
  color: #ffffff;
  font-size: 1.6rem;
  overflow: hidden;
  background: transparent;
  font-family: 'HelveticaNowDisplay';
  font-weight: 300;
}
.inputbox:focus{
    border-bottom: 2px solid yellow;
    transition: all 0.3s ease;
}
.inputbox:focus{
    border-bottom: 2px solid yellow;
    transition: all 0.3s ease;
}
.input_block {
  display: block;
}
.form_group_btn {
  text-align: center;
}
.form_group_btn .btn {
  font-size: 1.8rem;
  color: #000;
  padding: 10px 30px;
  display: inline-block;
  background-color: #fff;
  margin-top: 10px;
  font-family: 'HelveticaNowDisplay';
  font-weight: 500;
}
@media screen and (min-width: 575px) {
  .contact_form {
    padding: 22px;
  }
  .form-group label {
    font-size: 1.6rem;
  }
  .btn {
    margin-right: 18px;
    padding: 12px 20px;
    font-weight: 600;
  }
  .chat_title h2{
    text-align: left;
    font-size: 2.2rem;
}
}

@media screen and (min-width: 767px) {
  .chat_form_wrap {
    display: flex;
    flex-wrap: wrap;
    padding: 25px;
    justify-content: space-between;
  }
  .form_group {
    width: 48%;
    margin-bottom:50px;
  }
  .form_group label {
    font-size: 1.8rem;
  }
  .inputbox{
    font-size: 2rem;
  }
  .chat_title h2{
    text-align: left;
    font-size: 2.5rem;
}
}
@media screen and (min-width: 1024px) {
  .contact_form {
    padding: 30px;
  }
  .form_group label {
    font-size: 2rem;
  }
  .inputbox{
    font-size: 2.2rem;
  }
}

@media screen and (min-width: 1200px) {
  .contact_form {
    padding: 35px;
  }
}
